#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  margin: 0;
  text-align: center;
  background: #0f172a;
}

nav {
  background-color: #212121;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 3em;
  background: #0f172a;
}

/* .dashboard-panels {
  display: flex;
} */
