#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  margin: 0;
  text-align: center;
  background: #0f172a;
}

nav {
  background-color: #212121;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 3em;
  background: #0f172a;
}

.dashboard-panels {
  display: flex;
}

.left-panel {
  min-width: 10cm;
  margin: 10px;
  border-radius: 8px;
  background-color: #89223d;
  justify-content: space-around;
}

.left-card {
  background-color: #ce8195;
  border-radius: 8px; /* rounded corners */
  padding: 10px; /* space inside the card */
  margin-bottom: 10px; /* space between cards */
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1); /* optional shadow */
}

.right-panel {
  min-width: 5cm;
  background-color: #00645d;
  border-radius: 8px; /* rounded corners */
  padding: px; /* space inside the card */
  margin: 10px;
}

.right-card {
  background-color: #228984;
  border-radius: 8px; /* rounded corners */
  padding: 10px; /* space inside the card */
  margin-bottom: 10px; /* space between cards */
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1); /* optional shadow */
}

button {
  font-size: small;
}

.dropdown {
  color: black
}
